        <div id="restraunt">
            {{log title}}
            {{log 'I am a string'}}
            <h2>{{title}}</h2>
            <h3>{{rating}}</h3>
            <h4>{{address}}</h4>
            <button type="button">reviews</button>
        </div>