        <div id="restraunt">
            {{log title}}
            {{log 'I am a string'}}
            <h2 id = "rest-title">{{title}}</h2>
            <h3 id = "rest-rating">{{rating}}</h3>
            <h4 id = "rest-address">{{address}}</h4>
            <button type="button">reviews</button>
        </div>